@font-face {
  font-family: "Matrix";
  src: url("Fonts/Matrix_Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Matrix Flavour";
  src: url("Fonts/StoneSerifITCProMediumIt.OTF") format("opentype");
}

@font-face {
  font-family: "ITC Bold";
  src: url(Fonts/StoneSerifITCProSemiBd.OTF) format("opentype");
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}

button {
  float: right;
}

div {
  line-height: 14.5px;
}

/* #blankImg {
   position: absolute; 
   z-index: 0; 
} */

#cardImg {
  position:relative;
  float: left;
  /* position: absolute; */
  margin: 20px;
  height: 390px;
  max-height: 100%;
  max-width: 100%;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* z-index: -1; */
  /*scale: auto 617px;*/
}
/*Effect Text Font*/
p {
  font-family: 'Matrix';
  width: 352px;
  height: auto;
  /* padding: 0; */
  /* margin: 0; */
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3 {
  font-variant: small-caps;
  width: 352px;
  height: auto;
  text-align: justify;
  /* margin-top: 0px; */
  /* margin-bottom: 0px; */
  padding: 5px;
  white-space: nowrap;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2 {
  font-family: 'Matrix';
  width: 352px;
  height: auto;
  font-variant: small-caps;
  font-weight: 95;
  text-align: justify;
  /* margin-top: 5px; */
  padding: 5px;
  white-space: nowrap;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content {
  padding: 30px;
  margin: 0px auto;
}

.details {
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

.topnav{
  overflow: hidden;
  background-color: #333;
  top: 0; /* Position the navbar at the top of the page */
  width: 26%;
  height: auto;
  z-index: 2;
  float: right;
}

desc {
  float: right;
}

.search-container{
  text-align: center;
  height:auto;
}
/* img { */
  /* display: block; */
  /*border-radius: 5px;*/
  /* box-shadow: black; */
  /*max-height: 100%;*/
  /*max-width: 40%;*/
  /* text-align:center; */
  /*width: 30%;
  height: auto;*/
  /* float: left; */
  /* text-align: center; */
  /* position: relative; */
/* } */

table,
td {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px;
  border: 1px solid black;
}

/* .Type {
  position: relative;
  top: 80px;
  right: 40px;
}*/

/* .Name {
  position: relative;
  top: 34px;
  left: 35px;
  float: left;
  width: 310px;
  height: 31px;
  padding: 0%;
  margin: 0%;
}  */

/* .Race {
  position: relative;
  top: 458px;
  left: 35px;
  font-size: 14px;
  font-family: "ITC Bold";
  font-weight: 600;
}
#Desc {
  position: relative;
  top: 0px;
  left: 35px;
  text-align: justify;
  width: 352px;
  height: 73px;
}

#Effect{
  font-size: 17px;
  line-height: 15px;
  font-weight: lighter;
} */
/*.EdSummonCon {
  position: absolute;
  top: 1px;
  left: 50px;
}*/
/* .id {
  position: absolute;
  top: 578px;
  left: 25px;
} */
#Attribute {
  /* position: absolute; */
  /* top: 26px; */
  /* left: 348px; */
  width: 50px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Interactable{
  position:relative;
  width:auto;
  max-width: 50%;
  float: left;
  /* width:420px;
  height:610px; */
}

/* #Name{
  font-size:38px;
  display:flex;
  align-items: center;
} */

span:hover{
  background: antiquewhite;
  opacity: 0.5;
}